{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
    <h1>Produit index</h1>

    <table class="table container">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Stock</th>
                <th>Photo</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.stock }}</td>
                <td><img src="{{ asset('uploads/' ~ produit.photo) }}"></td>
                <td>{{ produit.Prix }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">Voir</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <h2>Create new Produit</h2>

    {{ include('produit/_form.html.twig') }}

{% endblock %}
